:root {
    --ec-menu-height: 20px;
    --ec-workingarea-padding: 30px;
    --ec-statusbar-height: 20px;
    --ec-statusbar-bgcolor: silver;
    --ec-color-red: red;
    --ec-color-green: green;
    --ec-color-blue: blue;
    --ec-color-black: black;
    --ec-color-white: white;
    --ec-color-gray: gray;
    --ec-color-medium-gray: #7F7F7F;
    --ec-color-light-gray: whitesmoke;
    --ec-nub-color: #007FFF;
    --ec-nub-shadow-color: rgba(0, 0, 0, 0.7); 
    --ec-layer-bgcolor: rgba(0, 0, 0, 0.0);
    --ec-curves-bgcolor: #FCFCFC;
    --ec-curves-bgimage: url(../images/curves_bg.png);
    --ec-curves-bgimage-red: url(../images/curves_bg_red.png);
    --ec-curves-bgimage-green: url(../images/curves_bg_green.png);
    --ec-curves-bgimage-blue: url(../images/curves_bg_blue.png);
    --ec-curves-grid: url(../images/curves_back.gif);
    --ec-photo-filter-selected: dimgray;
    --ec-photo-filter-hover: darkgray;
    --ec-icon-error: url(../images/icon_32_stop.gif);
    --ec-icon-warning: url(../images/icon_32_exclam.gif);
    --ec-icon-info: url(../images/icon_32_message.gif);
    --ec-icon-bomb: url(../images/icon_32_bomb.gif);
    --ec-dialog-bar: url(../images/dialogbar.gif);
    --ec-palette-grid: url(../images/palette.gif);
    --ec-rotate-grid: url(../images/gridwhite.png);
    --ec-crop-selection: url(../images/ants.gif);
}

* {
    outline: none;
}

::selection {
    background-color: var(--ec-color-black);
    color: var(--ec-color-white);
}

::-moz-selection {
    background-color: var(--ec-color-black);
    color: var(--ec-color-white);
}

html,
body.ElectricCat {
    width: 100vw;
    height: 100vh;
}

body.ElectricCat {
    margin: 0;
    background-color: var(--ec-color-medium-gray);
    font-family: Chicago, sans-serif;
    font-size: 12px;
}

.ElectricCat label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ElectricCat .layer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2900;
    background-color: var(--ec-layer-bgcolor);
    top: 0;
    left: 0;
}

.ElectricCat #workingarea {
    width: calc(100vw);
    height: calc(100vh - var(--ec-menu-height) - var(--ec-statusbar-height));
    padding: var(--ec-workingarea-padding);
    position: relative;
    overflow: auto;
    box-sizing: border-box;
}

.ElectricCat #statusbar {
    width: 100vw;
    height: var(--ec-statusbar-height);
    background-color: var(--ec-statusbar-bgcolor);
    overflow: hidden;
    padding-top: 1px;
    padding-left: 12px;
    box-sizing: border-box;
}

.ElectricCat #statusbar .zoomtools {
    position: relative;
    height: var(--ec-statusbar-height);
    overflow: hidden;
}
.ElectricCat #statusbar .zoomtools select {
    font-size: 10px;
    border: 1px solid var(--ec-color-black);
    border-radius: 3px;
}
.ElectricCat #statusbar .zoomtools button {
    font-size: 10px;
    padding: 0 7px;
    border-radius: 3px;
    margin-left: 7px;
}

.ElectricCat #statusbar .dimensions {
    position: relative;
    height: var(--ec-statusbar-height);
    margin-left: 12px;
}

.ElectricCat input[type=text] {
    border: solid 1px var(--ec-color-black);
    padding-top: 2px;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
    outline: 1px solid var(--ec-color-white);
    font-family: Chicago, sans-serif;
    font-size: 10px;
}

.ElectricCat input[type=text]:focus {
    outline: 2px solid var(--ec-color-black);
}

.ElectricCat input[type=text][disabled] {
    background-color: var(--ec-color-white)smoke;
    color: var(--ec-color-gray);
    border: solid 1px var(--ec-color-gray);
}

.ElectricCat button {
    border: 1px solid var(--ec-color-black);
    border-radius: 7px;
    background-color: var(--ec-color-white);
    color: var(--ec-color-black);
    font-family: Chicago, sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.ElectricCat button:active {
    background-color: var(--ec-color-black);
    color: var(--ec-color-white);
}

.ElectricCat button.main {
    box-shadow: 0 0 0 1px var(--ec-color-black);
}

.ElectricCat label {
    display: block;
    margin-bottom: 4px;
}

.ElectricCat fieldset {
    margin: 12px;
    border: 1px solid var(--ec-color-black);
    display: inline-block;
    background-color: var(--ec-color-white);
    min-height: 130px;
}

.ElectricCat fieldset.white {
    border: 1px solid var(--ec-color-white);
}

.ElectricCat .messageBox {
    position: absolute;
    z-index: 4000;
    border: 1px var(--ec-color-black) solid;
    padding: 2px;
    background-color: var(--ec-color-white);
    top: -1000px;
    left: -1000px;
}

.ElectricCat .messageBox.hidden {
    display: none;
}

.ElectricCat .messageBox .inner {
    border: 2px var(--ec-color-black) solid;
    padding: 16px 24px 14px 24px;
}

.ElectricCat .messageBox button {
    min-width: 76px;
}

.ElectricCat .messageBox .inner .text {
    margin-bottom: 14px;
}

.ElectricCat .messageBox .inner .buttons {
    text-align: right;
}

.ElectricCat .messageBox.error .inner,
.ElectricCat .messageBox.warning .inner,
.ElectricCat .messageBox.info .inner,
.messageBox.bomb .inner {
    padding-left: 76px;
    background-repeat: no-repeat;
    background-position: 22px 14px;
}

.ElectricCat .messageBox.error .inner {
    background-image: var(--ec-icon-error);
}

.ElectricCat .messageBox.warning .inner {
    background-image: var(--ec-icon-warning);
}

.ElectricCat .messageBox.info .inner {
    background-image: var(--ec-icon-info);
}

.ElectricCat .messageBox.bomb .inner {
    background-image: var(--ec-icon-bomb);
}

.ElectricCat .dialog {
    background-color: var(--ec-color-white);
    display: table;
    border: 1px var(--ec-color-black) solid;
    border-right: 2px var(--ec-color-black) solid;
    border-bottom: 2px var(--ec-color-black) solid;
    position: absolute;
    z-index: 3000;
    top: -1000px;
    left: -1000px;
}

.ElectricCat .dialog.hidden {
    display: none;
}

.ElectricCat .dialog .bar {
    height: 16px;
    background-image: var(--ec-dialog-bar);
    background-repeat: repeat-x;
    background-position: center center;
    margin: 1px 3px 0 3px;
    cursor: move;
    text-align: center;
}

.ElectricCat .dialog .bar .caption {
    display: inline-block;
    background-color: var(--ec-color-white);
    margin: 0 auto;
    padding: 0 7px;
    height: 16px;
}

.ElectricCat .dialog .border {
    border: 1px solid var(--ec-color-black);
    margin: 2px 3px 3px;
}

.ElectricCat .dialog .zone {
    display: table-row;
}

.ElectricCat .dialog .zone .main {
    display: table-cell;
}

.ElectricCat .dialog .zone .main .emptyfieldset {
    margin: 16px 20px 24px;
    min-height: 130px;
}

.ElectricCat .dialog .zone .buttons {
    display: table-cell;
    vertical-align: top;
    padding-top: 20px;
    padding-right: 12px;
}

.ElectricCat .dialog .zone .buttons button {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

.ElectricCat .subfieldset {
    border: 1px var(--ec-color-black) solid;
    margin: 0;
    margin-top: 10px;
    padding: 0 10px 5px;
}

.ElectricCat .chanmix_sources {
    position: relative;
    display: block;
    width: 224px;
    height: 167px
}

.ElectricCat .chanmix_source {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    overflow: visible;
}

.ElectricCat .chanmix_source {
    margin-top: 7px;
}

.ElectricCat .chanmix_source.top {
    z-index: 550;
}

.ElectricCat .chanmix_source legend {
    background-color: var(--ec-color-white);
}


.ElectricCat .levels_channels {
    position: relative;
    display: block;
    width: 266px;
    height: 224px
}

.ElectricCat .levels_channel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    overflow: visible;
    background-color: var(--ec-color-white);
    padding: 0 4px;
}

.ElectricCat .levels_channel.top {
    z-index: 550;
}

.ElectricCat .histogram_channels {
    position: relative;
    display: block;
    width: 266px;
    height: 193px
}

.ElectricCat .histogram_channel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    overflow: visible;
    background-color: var(--ec-color-white);
    padding: 0 4px;
}

.ElectricCat .histogram_channel.top {
    z-index: 550;
}


.ElectricCat .curves_channels {
    position: relative;
    display: block;
    width: 190px;
    height: 190px
}

.ElectricCat .curves_channel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    overflow: visible;
    background-color: var(--ec-color-white);
    padding: 4px;
}

.ElectricCat .curves_channel.top {
    z-index: 550;
}

.ElectricCat .colbal_tones {
    position: relative;
    display: block;
    width: 224px;
    height: 167px
}

.ElectricCat .colbal_tone {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    overflow: visible;
}

.ElectricCat .colbal_tone {
    margin-top: 7px;
}

.ElectricCat .colbal_tone.top {
    z-index: 550;
}

.ElectricCat .colbal_tone legend {
    background-color: var(--ec-color-white);
    opacity: 0.0;
}

.ElectricCat .colbal_tone.top legend {
    background-color: var(--ec-color-white);
    opacity: 1.0;
}

.ElectricCat .minipal {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--ec-color-white);
    border: var(--ec-color-black) 1px solid;
}

.ElectricCat #palette .square {
    width: 15px;
    height: 15px;
    display: inline-block;
    float: left;
    margin: 0 1px 1px 0;
}

.ElectricCat #palette {
    margin-top: 14px;
    border: 1px solid var(--ec-color-black);
    padding: 1px 0 0 1px;
    width: 256px;
    height: 256px;
    background-image: var(--ec-palette-grid);
    background-position: top left;
}

.ElectricCat #src,
.ElectricCat #dst,
.ElectricCat #grid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.ElectricCat #containment {
    position: relative;
    width: 0;
    height: 0;
    overflow: visible;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ElectricCat #src {
    image-rendering: pixelated;
    transform-origin: top left;
    z-index: 1501;
}

.ElectricCat #dst {
    image-rendering: pixelated;
    transform-origin: top left;
    z-index: 1502;
}

.ElectricCat #grid {
    display: block;
    background-image: var(--ec-rotate-grid);
    background-position: center center;
    z-index: 1505;
    mix-blend-mode: difference;
}

.ElectricCat #grid.disabled {
    display: none;
}

.ElectricCat #selection {
    cursor: move;
    border: 1px dashed var(--ec-color-black);
    border-image: var(--ec-crop-selection) 8 repeat repeat;
    -moz-border-image: var(--ec-crop-selection) 1 repeat repeat;
    -webkit-border-image: var(--ec-crop-selection) 1 repeat repeat;
    width: 400px;
    height: 225px;
    position: absolute;
    box-sizing: border-box;
    z-index: 2950;
}

.ElectricCat #selection .handler {
    position: absolute;
    border: 1px solid var(--ec-color-white);
    background-color: var(--ec-color-black);
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    z-index: 2951;
}

.ElectricCat #selection .handler.ne {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.ElectricCat #selection .handler.nw {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.ElectricCat #selection .handler.se {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}

.ElectricCat #selection .handler.sw {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.ElectricCat #crop_containment {
    position: relative;
    z-index: 2940;
    top: 0;
    left: 0;
}

.ElectricCat #mask {
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2900;
}

.ElectricCat #mask #maskpath {
    position: absolute;
}

@keyframes nubblink {
    to {
        background-color: var(--ec-nub-color);
    }
}

@-moz-keyframes nubblink {
    to {
        background-color: var(--ec-nub-color);
    }
}

@-webkit-keyframes nubblink {
    to {
        background-color: var(--ec-nub-color);
    }
}

.ElectricCat .nub {
    background-color: var(--ec-color-white);
    animation: nubblink 1s steps(2, start) infinite;
    -moz-box-animation: nubblink 1s steps(2, start) infinite;
    -webkit-box-animation: nubblink 1s steps(2, start) infinite;
    width: 6px;
    height: 6px;
    border: 2px var(--ec-color-white) solid;
    border-radius: 50%;
    box-shadow: 1px 1px 2px var(--ec-nub-shadow-color);
    -moz-box-shadow: 1px 1px 2px var(--ec-nub-shadow-color);
    -webkit-box-shadow: 1px 1px 2px var(--ec-nub-shadow-color);
    cursor: move;
    position: absolute;
    z-index: 2950;
    margin-top: -5px;
    margin-left: -5px;
}

.ElectricCat #nub_containment {
    position: relative;
    z-index: 2940;
    top: 0;
    left: 0;
}

.ElectricCat #dialog_curves .curvesbg {
    background-image: var(--ec-curves-bgimage);
    background-repeat: no-repeat;
    background-position: top left;
    width: 173px;
    height: 173px;
    padding: 0 0 9px 9px;
}

.ElectricCat #dialog_curves .curvesbg.red {
    background-image: var(--ec-curves-bgimage-red);
}

.ElectricCat #dialog_curves .curvesbg.green {
    background-image: var(--ec-curves-bgimage-green);
}

.ElectricCat #dialog_curves .curvesbg.blue {
    background-image: --ec-curves-bgimage-blue;
}

.ElectricCat #dialog_curves .curves {
    width: 171px;
    height: 171px;
    border: 1px solid var(--ec-color-black);
}

.ElectricCat #dialog_curves .curves svg {
    background-color: var(--ec-curves-bgcolor);
    background-image: var(--ec-curves-grid);
    cursor: crosshair;
}

.ElectricCat #dialog_curves .curves svg:focus {
    background-color: var(--ec-color-white);
}

.ElectricCat #dialog_curves rect.bg {
    fill: none;
    pointer-events: all;
}

.ElectricCat #dialog_curves path.line,
.ElectricCat #dialog_curves path.left,
.ElectricCat #dialog_curves path.right {
    fill: none;
    stroke: var(--ec-color-black);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.ElectricCat #dialog_curves .red path.line,
.ElectricCat #dialog_curves .red path.left,
.ElectricCat #dialog_curves .red path.right {
    stroke: var(--ec-color-red);
}

.ElectricCat #dialog_curves .green path.line,
.ElectricCat #dialog_curves .green path.left,
.ElectricCat #dialog_curves .green path.right {
    stroke: var(--ec-color-green);
}

.ElectricCat #dialog_curves .blue path.line,
.ElectricCat #dialog_curves .blue path.left,
.ElectricCat #dialog_curves .blue path.right {
    stroke: var(--ec-color-blue);
}

.ElectricCat #dialog_curves rect.handle {
    fill: var(--ec-color-black);
    stroke: var(--ec-color-black);
    stroke-width: 1px;
    cursor: move;
    shape-rendering: crispEdges;
}

.ElectricCat #dialog_curves .red rect.handle {
    fill: var(--ec-color-red);
    stroke: var(--ec-color-red);
}

.ElectricCat #dialog_curves .green rect.handle {
    fill: var(--ec-color-green);
    stroke: var(--ec-color-green);
}

.ElectricCat #dialog_curves .blue rect.handle {
    fill: var(--ec-color-blue);
    stroke: var(--ec-color-blue);
}

.ElectricCat #dialog_curves rect.handle.selected {
    fill: var(--ec-color-white);
}

.ElectricCat #photofilter_filters {
    width: 260px;
    height: 160px;
    overflow: scroll;
    border: 1px var(--ec-color-black) solid;
}

.ElectricCat #photofilter_filters .filter_line {
    cursor: pointer;
    background-color: var(--ec-color-white);
    padding: 4px;
    color: var(--ec-color-black);
    width: 360px;
    height: 34px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ElectricCat #photofilter_filters .filter_line:hover {
    background-color: var(--ec-photo-filter-hover);
    color: var(--ec-color-white);
}

.ElectricCat #photofilter_filters .filter_line.selected {
    background-color: var(--ec-photo-filter-selected);
    color: var(--ec-color-white);
}

.ElectricCat #photofilter_filters .filter_pal {
    display: block;
    float: left;
    border: 1px solid var(--ec-color-black);
    width: 32px;
    height: 32px;
}

.ElectricCat #photofilter_filters .filter_label {
    display: block;
    width: 296px;
    height: 34px;
    max-height: 34px !important;
    overflow: hidden;
    padding-left: 7px;
    font-family: Helvetica, Arial, sans-serif;
}

.ElectricCat #photofilter_filters .filter_label .title {
    font-size: 15px;
    line-height: 18px;
    margin-top: 2px;
    white-space: nowrap;
}

.ElectricCat #photofilter_filters .filter_label .desc {
    font-size: 10px;
    line-height: 10px;
    white-space: nowrap;
}

.ElectricCat .IM {
    background-image: url(../images/logo_image_magick.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 48px;
    margin: 0 auto 6px;
}